.validator {
  font-size: 0.875rem;

  &__list {
    display: flex;
    flex-direction: column;

    gap: 0.25rem;

    &>li {
      margin-left: 1rem;
    }
  }

  &--valid {
    color: var(--success);
  }

  &--invalid {
    color: var(--error);
  }
}