@forward 'globals';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  all: unset;
}

button {
  border: none;
  background-color: unset;
  cursor: pointer;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }
}