:root {
  --white: #FFF;
  --success: #10b981;
  --error: #ef4444;
  --focus-blue: #7ab0e6;
  --focus-blue-shadow: rgba(102, 169, 232, 0.2);
  --gray-primary: #f1f1f1;
  --gray-secondary: #d0d0d0;
  --gray-terciary: #c1c1c1;
  --border-color-button: #e6e6e6;
  --box-shadow: rgba(163, 163, 163, 0.2);
  --box-shadow-hover: rgba(240, 235, 235, 0.3);
}